body {
    font-family: "arial black";
    margin: 0;
    padding: 0;
    background-color: #eaeaea; /* Fondo blanco más oscuro */
    color: #333;
}

header {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    transition: transform 0.3s ease; /* Añade una transición para el efecto */
}

header .logo img.zoom:hover {
    transform: scale(1.1); /* Amplía la imagen un 10% al pasar el ratón */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #37015f;
    text-decoration: none;
    transition: font-size 0.3s ease; /* Añade una transición para el cambio de tamaño */
}

nav ul li a:hover {
    font-size: 1.2em; /* Aumenta el tamaño de la fuente cuando el ratón está sobre el enlace */
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}

h5 {
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 30px;
    color: #37015f;
}

.fotos {
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 175px;
    display: inline-block;
}

.info {
    background-color: rgb(202, 176, 218);
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.siguenos, .ubicacion, .telefono {
    font-family: "Arial", serif;
    font-size: 12px;
    margin: 50px;
    margin-top: 30px;
}

.contact-form {
    background-color: #fff;
    padding: 40px;
    margin: 20px auto;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 650px;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #37015f;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input[type="submit"] {
    background-color: #37015f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #250440;
}

.logos {
    margin-top: 10px;
    text-align: center;
    transition: transform 0.3s ease; /* Transición suave al pasar el ratón */
}

.logos a img {
    margin: 0 5px; /* Espacio entre los logos */
}

.logos a img:hover {
    transform: scale(1.1); /* Aumenta el tamaño del logo al pasar el ratón */
}

hr {
    border: 1;
    height: 1px;
    background: #37015f; /* Color de la línea divisora */
    margin: 20px 0; /* Espacio alrededor de la línea divisora */
    margin-left: 100px;
    margin-right: 100px;
}

footer {
    background-color: white;
    color: #37015f;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}