body {
    font-family: "arial black";
    margin: 0;
    padding: 0;
    background-color: #eaeaea; /* Fondo blanco más oscuro */
    color: #333;
}

header {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    transition: transform 0.3s ease; /* Añade una transición para el efecto */
}

header .logo img.zoom:hover {
    transform: scale(1.1); /* Amplía la imagen un 10% al pasar el ratón */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #37015f;
    text-decoration: none;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}

.fotos {
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 175px;
    display: inline-block;
}

.info {
    background-color: rgb(202, 176, 218);
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.siguenos, .ubicacion, .telefono {
    font-family: "Arial", serif;
    font-size: 10px;
    margin: 50px;
    margin-top: 30px;
}

footer {
    background-color: white;
    color: #37015f;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
